.eprj
.idea
.rvmrc
.config
.bundle
.yardoc
.tmtags
.DS_Store
.sass-cache
Gemfile.lock
pkg
doc
tmp
tags
rdoc
target
coverage
test/tmp
nbproject
spec/reports
InstalledFiles
lib/bundler/man
test/version_tmp
rerun.txt
*.log
*.pid
*~
*.swp
*.swo
*.tmproj
.#*
*.pyc
*.rbc
._*
*.tgz
*.gem
*.rbc
_yardoc
