*.gem
*.rbc
*.pyc
*.tgz
*.swp
*.swo
*.log
*.pid
.eprj
.idea
.rvmrc
.config
.bundle
.yardoc
.tmtags
.DS_Store
.sass-cache
.rubocop.yml
Gemfile.lock
pkg
doc
tmp
tags
rdoc
target
coverage
test/tmp
nbproject
spec/reports
InstalledFiles
lib/bundler/man
test/version_tmp
rerun.txt
*~
*.tmproj
.#*
._*
